body,
html {
  height: 100%;
  background: white;
  overflow: hidden;
  color: black;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
}

.banner {
  position: static;
  width: 100vw;
  height: 15vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 10vw;
}

.chat-container {
  /*margin: 0px;*/
  padding: 0px;
  width: 600px;
  /*margin: 35px 0px;*/
  margin-left: 15%;
  margin-right: 15%;
  overflow-x: hidden;
}

.chat-message {
  padding: 6px;
  border-radius: 50px;
  margin-bottom: 3px;
}

.bot-message {
  background: aliceblue;
  max-width: 500px;
  margin-left: auto;
  padding: 10px 20px 10px 20px;
}

.human-message {
  background: linear-gradient(
    90deg,
    rgba(207, 240, 204, 1) 35%,
    rgba(147, 233, 190, 1) 100%
  );
  max-width: 300px;
  margin: 13px 1px;
  padding: 10px 20px 10px 20px;
}

.input {
  width: 600px;
  /*margin: 35px 0px;*/
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
}

.spinner {
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: black;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
